{% extends 'base.html.twig' %}

{% block title %}HF Pager{% endblock %}

{% block body %}
    <div class="container-sm">
        <div class="row">
            <div class="bg-white p-5 text-center">
                <h3><a href="{{ path('email_list') }}" class="link-dark">HF Pager</a></h3>
            </div>
        </div>
        <div class="row">
            {% for message in messages %}
                <div class="shadow p-3 mb-5 bg-body rounded">
                    <h5>
                        {{ message.subject }}
                        <span class="badge bg-secondary">{{ message.receivedAt|date('d.m.Y H:i', 'Asia/Yakutsk') }}</span>
                    </h5>
                    <p>{{ message.body }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    {% if totalPages > 1 %}

                        {# the number of first and last pages to be displayed #}
                        {% set extremePagesLimit = 3 %}

                        {# the number of pages that are displayed around the active page #}
                        {% set nearbyPagesLimit = 2 %}

                        {% if currentPage > 1 %}
                            <a href="{{ path('email_list', {page: currentPage - 1}) }}">Предыдущая</a>

                            {% for i in range(1, extremePagesLimit) %}
                                {% if i < currentPage - nearbyPagesLimit %}
                                    <a href="{{ path('email_list', {page: i}) }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if extremePagesLimit + 1 < currentPage - nearbyPagesLimit %}
                                <span>...</span>
                            {% endif %}

                            {% for i in range(currentPage-nearbyPagesLimit, currentPage-1) %}
                                {% if i > 0 %}
                                    <a href="{{ path('email_list', {page: i}) }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <strong>{{ currentPage }}</strong>

                        {% if currentPage < totalPages %}
                            {% for i in range(currentPage+1, currentPage + nearbyPagesLimit) %}
                                {% if i <= totalPages %}
                                    <a href="{{ path('email_list', {page: i}) }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if  (totalPages - extremePagesLimit) > (currentPage + nearbyPagesLimit) %}
                                <span>...</span>
                            {% endif %}

                            {% for i in range(totalPages - extremePagesLimit+1, totalPages) %}
                                {% if i > currentPage + nearbyPagesLimit %}
                                    <a href="{{ path('email_list', {page: i}) }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}

                            <a href="{{ path('email_list', {page: currentPage + 1}) }}">Следующая</a>
                        {% endif %}
                    {% endif %}

                    {{ form_start(searchForm, {'method': 'POST', attr: {'class': 'd-flex'}}) }}
                    {{ form_widget(searchForm.keyword) }}
                    {{ form_widget(searchForm.search) }}
                    {{ form_end(searchForm) }}
                </div>
            </nav>
        </div>
    </div>
{% endblock %}
